<!-- Crear la View Articles -->
<section data-ng-controller="ReferenceController">
	<h1>Nueva Referencia</h1>
	<!-- El formulario nuevo artículo -->
	<form data-ng-submit="create()" novalidate>
		<div>
			<label for="name">Nombre</label>
			<div>
				<input type="text" data-ng-model="name" id="name" placeholder="Ejemplo: Genbeta" required>
			</div>
		</div>
		<div>
			<label for="location">Dirección</label>
			<div>
				<input type="text" data-ng-model="location" id="location" placeholder="Ejemplo: http://genbeta.com" required>
			</div>
		</div>
		<div>
			<label for="category">Categoría</label>
			<div>
				<input type="text" data-ng-model="category" id="category" placeholder="Ejemplo: video">
			</div>
		</div>
		<div>
			<label for="description">Descripción</label>
			<div>
				<textarea data-ng-model="description" id="description" cols="30" rows="10" placeholder="Una descripción de la página"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Guardar">
		</div>
		<!-- El elemento mensaje de error -->
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>