<!DOCTYPE html>
<html>
<head>
	<!-- Usar la propiedad 'title' para renderizar un título de página  -->
	<title><%= title %></title>
</head>
<body>
	

	<section ng-view></section>
    
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>


	<script type="text/javascript" src="/reference/reference.client.module.js"></script>
    <script type="text/javascript" src="/reference/controllers/reference.client.controller.js"></script>
  	<script type="text/javascript" src="/reference/services/reference.client.service.js"></script>
    <script type="text/javascript" src="/reference/routes/reference.client.routes.js"></script>	


	<script type="text/javascript" src="/application.js"></script>
</body>
</html>